html {
    background-image: url('https://images.unsplash.com/photo-1628968434441-d9c1c66dcde7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
}

footer {
    text-align: center;
    padding: 40px;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    text-align: center;
    color: rgb(255, 216, 42);
    border-color: rgb(78, 116, 219);
    text-shadow: 0 0 5px rgb(78, 116, 219);
    font-size: 30px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: 500px;
    background-color: rgb(255, 216, 42);
    border: none;
    padding: 15px;
    border-radius: 25px;
    text-align: center;
    margin: 10px;
}

button:hover{
    color: rgb(78, 116, 219);
    border: 20px rgb(78, 116, 219);
    text-shadow: 0 0 5px rgb(101, 132, 216);
    box-shadow: 5px 5px rgb(101, 132, 216);
}

.container {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(209, 209, 209);
    width: 100%;
    height: 100%;
    padding: 5px;
    text-align: center;
}