html {
  background-color: rgb(218, 241, 255);
}

nav {
  border-bottom: solid black;
  background-color: #80CFFF;
  padding: 10px;
  position:fixed;
  width:100%;
  top:0;
  z-index:1;
}

header {
  text-align: center;
  padding: 40px 0px 10px 0px;
  margin: 0 auto;
  margin-top: 100px;
  width: max-content;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
  text-align: center;
  color: rgb(255, 216, 42);
  text-shadow: 4px 2px 3px rgb(78, 116, 219);
  font-size: 30px;
}

p:before{
  content: attr();
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: gold;
  overflow: hidden;
  border-bottom: 16px solid gold;
  animation: animate 10s linear infinite;
}
@keyframes animate
{
   0%
   {
   width: 0;
   }
   100%
   {
   width: 0;
   }
}
button {
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-weight: 500px;
  background-color: rgb(255, 216, 42);
  border: solid black 1px;
  padding: 15px;
  border-radius: 25px;
  text-align: center;
  margin: 10px;
}

#searchBtn {
  width: 75px;
  height: 75px;
}

#btnBall {
  width: 100%;
}

button:hover {
  color: rgb(78, 116, 219);
  border: 20px rgb(78, 116, 219);
  text-shadow: 0 0 5px rgb(101, 132, 216);
  box-shadow: 5px 5px 4px rgb(101, 132, 216);
}

#search {
  font-family: "Courier New", Courier, monospace;
  width: max-content;
  height: max-content;
  padding: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}
form {
  width: 600px;
  height: 55px;
  display: flex;
  border: solid rgb(104, 135, 219);
}
form input {
  flex: 1;
  border: none;
  letter-spacing: 1px;
  padding: 10px 50px;
}

main {
  position: relative;
  background-image: url("../../assets/images/pokemon-cards-bg.jpg");
  background-repeat: repeat-y;
  background-size: contain;
}

#background {
  position: absolute;
  width: 100%;
  opacity: 70%;
}

#cards {
  margin: 10px;
}

.pokeCard{
  border-radius: 15px;
}
.pokeCard:hover{
  box-shadow: inset 0px 0px 50px black;
}

footer {
  border-top: solid black;
  background-color: #80CFFF;
  padding: 10px;
  position:fixed;
  width:100%;
  bottom:0;
  z-index:1;
}