@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Young+Serif&display=swap");

/* Global styling */
html {
  background-color: rgb(218, 241, 255);
  font-family: "Bebas Neue", sans-serif;
}

/* Header section styling */
nav {
  border-bottom: solid black;
  background-color: #80cfff;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

header {
  text-align: center;
  padding: 40px 0px 10px 0px;
  margin: 0 auto;
  margin-top: 100px;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  padding: 10px;
  text-align: center;
  color: rgb(255, 216, 42);
  text-shadow: 4px 2px 3px rgb(132, 156, 223);
  font-size: 35px;
  font-weight: bold;
  text-wrap: wrap;
  letter-spacing: 4px;
}

button {
  font-family: "Bebas Neue", sans-serif;
  color: black;
  font-size: 23px;
  font-weight: 500px;
  background-color: rgb(255, 216, 42);
  border: none;
  padding: 15px;
  border-radius: 30px;
  text-align: center;
  margin: 10px;
}

#searchBtn {
  width: 75px;
  height: 75px;
}

#btnBall {
  width: 100%;
}

button:hover {
  color: rgb(78, 116, 219);
  border: 20px rgb(255, 192, 56);
  text-shadow: 0 0 5px rgb(181, 213, 255);
  box-shadow: 5px 5px 4px rgb(101, 132, 216);
}

#search {
  font-family: "Bebas Neue", sans-serif;
  width: max-content;
  height: max-content;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  color: rgb(103, 165, 228);
}

form {
  width: 600px;
  height: 55px;
  display: flex;
  border: solid rgb(111, 144, 235);
}

form input {
  flex: 1;
  border: none;
  letter-spacing: 1px;
  padding: 10px 50px;
}

#loading {
  display: none;
  width: 100%;
}

#noneFound {
  display: none;
  width: 100%
}

/* Cards section styling */
main {
  position: relative;
  background-image: url("../../assets/images/pokemon-cards-bg.jpg");
  background-size: 100%;
}

#cards {
  margin: 10px 10px 0px;
}

.pokeCard {
  position: relative;
}

.favoriteBtn {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 36px;
  color: white;
  text-shadow:rgb(78, 116, 219) 1px 1px 9px;
}

.favoriteBtn:hover {
  top: 15px;
  left: 15px;
  font-size: 48px;
  cursor: pointer;
}

.custCol {
  height: 700px;
}

/* End and footer section styling */
footer {
  border-top: solid black;
  background-color: #80cfff;
  padding: 10px;
  position: static;
  width: 100%;
  bottom: 0;
  z-index: 1;
  text-align: center;
}


#end {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#end-text {
  font-family: "Bebas Neue", sans-serif;
  padding: 15px;
  color: rgb(255, 216, 42);
  text-shadow: 4px 2px 3px rgb(132, 156, 223);
  font-size: 35px;
  font-weight: bold;
  text-wrap: wrap;
  letter-spacing: 4px;
}

#endPikachu {
  width: 100px;
}

/* Random page specific styling */
#randDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.randTxt {
  background-color: #80cfff;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#randImg img {
  height:900px;

}

#randName {
  font-size: 30px;
  width: 100%;
  text-align: center;
}

/* Media query for smaller devices */
@media (max-width: 768px) {
  form {
    width: 75%;
  }
}
