html {
  background-color: rgb(218, 241, 255);
}

#hero {
  opacity: 70%;
}

#background {
  width: 100%;
}

header {
  text-align: center;
  padding: 40px 0px 10px 0px;
  margin: 0 auto;
  width: max-content;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
  text-align: center;
  color: rgb(255, 216, 42);
  text-shadow: 4px 2px 3px rgb(78, 116, 219);
  font-size: 30px;
}

button {
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-weight: 500px;
  background-color: rgb(255, 216, 42);
  border: solid black 1px;
  padding: 15px;
  border-radius: 25px;
  text-align: center;
  margin: 10px;
}

.btnContainer {
  width: 75px;
  height: 75px;
}

#searchBtn {
  width: 100%;
}

button:hover {
  color: rgb(78, 116, 219);
  border: 20px rgb(78, 116, 219);
  text-shadow: 0 0 5px rgb(101, 132, 216);
  box-shadow: 5px 5px 4px rgb(101, 132, 216);
}

#search {
  font-family: "Courier New", Courier, monospace;
  width: max-content;
  height: max-content;
  padding: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}
form {
  width: 600px;
  height: 55px;
  display: flex;
  border: solid rgb(104, 135, 219);
}
form input {
  flex: 1;
  border: none;
  letter-spacing: 1px;
  padding: 10px 50px;
}
